<header>
  <section class="hero">
    <div class="container">
      <div class="fullscreen-bg">
        </div>

    <!-- NAVBAR  -->

      <div class="row" style="background-color:white;height: 100px;">
        <div class="col-md-6 col-sm-6 col-xs-6 text-left" >
          <a href="index.html"><img src="{{ settings.logo | img_url }}" style="width:50px;height:50px;margin-left:50px;margin-top:25px;" alt="hyperspace"></a>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
          <button type="button" class="btn btn-default longclick" style="margin-right:30px;margin-top:30px;">
              <a href="https://sokken.myshopify.com/24950284/checkouts/b355e333fe65f213401e4d62d36f2d5c" target="_blank" style="color:white;">Bestel Nu</a></button>
          <!-- <a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>-->
        </div>
      </div>



    <!-- HERO  -->

      <div class="row hero-content">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2">
        </div>
        <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
          <div class="herotext" style="color:#111;">
            <h1>{{ settings.title }}</h1>
            <h2>{{ settings.subtitle }}</h2>
          </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2">
        </div>
      </div>
    </div>
  </section>
</header>
