
@media screen and (max-height:800px){

}

@media screen and (max-width:1200px){
	.device{left:20%;top:-36px;}
	footer li{margin-right:10%;}
	.feature-content{width:55%;}
	.hero {min-height: 1200px;}
}
@media screen and (max-width:991px){
	.feature-1,.feature-2{margin-bottom:50px;}
	.device{display:none;}
	.screenshots ul li{width:50%;}
	.screenshots-intro{padding:110px 0 100px 0;}
	.feature-content{width:80%;}
	.features-slider{height:100%}
	.block p {font-size: 15px;
}


/* ============== iPad =============== */

@media screen and (max-width:767px){
	.block {height: 460px;}
	.purpleblock {height: 460px;}
	.hero h1{font-size:80px;}
	.row {text-align: center; padding-left: 30px; padding-right: 30px;}
	.hero {min-height: 1000px;}
}
@media screen and (max-width:680px){
	.feature-content{width:60%;}
	.hero h1{font-size:60px;}

}

/* ============== iPhone =============== */

@media screen and (max-width:640px){
	.use-btn{display:none;}
	footer li{display:block;text-align:left;padding:20px 0;border-bottom:dashed 1px #c7cacc;margin-right:0!important;float:none;}
	nav{margin-top:40px;}
	.overlay ul{margin-left:0px;}
	.overlay ul li a{padding:20px 0;min-width:120px;font-size:12px;}
	.hero h1{font-size:50px;}
	.hero h3{font-size:18px;}
}
@media screen and (max-width:465px){
	.screenshots ul li{width:100%;min-height:100%;float:none;}
	section.video i{font-size:30px;}
	section.video h1{font-size:15px;font-weight:400;}
	section.video{padding:40px;}
	.feature-content{width:100%;text-align:center;margin-top:20px;}
	.feature-icon{display:block;margin:0 auto;}
	blockquote p{width:60%;}
	.features-slider {padding: 11% 50px 10% 50px;}
}