/* ! normalize.css v1.0.0 | MIT License | git.io/normalize */


/* ==========================================================================
HTML5 display definitions
========================================================================== */


/* ========= Navibar ============= */

.navibar h6 a {
    margin: 10px 0 10px 0;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    color: white;
}

.bg-light {
    background-color: #f8f9fa!important;
}


/* ========= Hero ============= */

.social {
    background-color: white;
    background-size: cover;
    color: #395EFF;
    font-size: 2em;
    height: 90px;
    text-align: center;
}

.lefted {
    text-align: left;
}

.lefted h3 {
    text-align: left;
}

.lefted h4 {
    text-align: left;
}

.hero {
    position: relative;
    padding: 0px 0 60px 0;
    min-height: 1300px;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
}

.contents {
    background-size: cover;
    background-color: white;
}

.hero h1 {
    margin: 10px 0 10px 0;
    font-size: 120px;
}

.hero h3 {
    margin: 10px 0 10px 0;
    font-weight: 400;
    font-size: 30px;
}

#home {
    width: 100%;
    height: 100%;
}

header i {
    margin-left: 5px
}

.row {
    text-align: center;
}

.fullscreen-bg {
    background: url('{{ settings.main_image | img_url }}') center center / cover no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('{{ settings.main_image | img_url }}') center center / cover no-repeat;
    }
    .fullscreen-bg__video {
        display: none;
    }
}


/* ==========================================================================
Offer
========================================================================== */

.offer {
    background: #395EFF;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, #1B1464, #395EFF);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #1B1464, #395EFF);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #1B1464, #395EFF);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #1B1464, #395EFF);
    /* Standard syntax */
}

.offertext {
    color: white;
    margin-top: 100px;
    margin-bottom: 140px;
    padding: 0px 30px 0px 30px;
    text-align: center;
}

.offertext h3 {
    text-align: center;
}

.offertext h4 {
    text-align: center;
}


/* ==========================================================================
Other
========================================================================== */

.footers {
    background: #395EFF;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(30deg, #1B1464, #395EFF);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(30deg, #1B1464, #395EFF);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(30deg, #1B1464, #395EFF);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(30deg, #1B1464, #395EFF);
    /* Standard syntax */
    background-size: cover;
}

.herotext {
    margin-top: 60px;
    position: relative;
    float: center;
}

.explain {
    padding: 300px 80px 300px 80px;
    position: relative;
    background-color: white;
    float: center;
    text-align: center;
}

.koop {
    padding: 0px 0px 300px 0px;
}

.explainimage {
    background: url('{{ settings.main_image | img_url }}') no-repeat center center;
    background-size: cover;
    padding: 150px 80px 150px 80px;
    position: relative;
    background-color: white;
    float: center;
    text-align: center;
}

.block {
    background: #395EFF;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(30deg, #1B1464, #395EFF);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(30deg, #1B1464, #395EFF);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(30deg, #1B1464, #395EFF);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(30deg, #1B1464, #395EFF);
    /* Standard syntax */
    background-size: cover;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    height: 560px;
    margin: 80px 0px 0px 0px;
    padding: 50px;
    position: relative;
    float: center;
    flex-wrap: wrap;
    text-align: center;
}

.block h3 {
    text-align: center;
}

.block h4 {
    text-align: center;
}

.purpleblock {
    background: url('{{ settings.main_image | img_url }}') no-repeat center center;
    background-size: cover;
    color: #3400aa;
    background-size: cover;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    height: 750px;
    margin: 0px;
    padding: 100px 60px 50px 60px;
    position: relative;
    float: center;
}

.longclick {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #395EFF;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2em;
    padding: 5px;
    margin: 0px 0px;
    cursor: pointer;
    text-align: center;
    border: none;
}

.buyclick {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #395EFF;
    font-weight: 600;
    font-size: 1.2em;
    padding: 5px;
    margin: 0px 0px;
    cursor: pointer;
    text-align: center;
    border: none;
}

.longclick:hover {
    background-color: #111;
}


/* ==========================================================================
Form
========================================================================== */

input[type=email] {
    width: 220px;
    height: 40px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #395EFF;
    margin: 20px 0px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.footblock {
    height: 280px;
    padding: 60px;
    position: relative;
    float: center;
}

.footblock p {
    font-size: 15px;
    line-height: 20px;
}

.footblock h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: white;
}

.case {
    background: white;
    /* For browsers that do not support gradients */
    background-size: cover;
    margin: 0px;
    padding: 10px 30px 40px 30px;
    position: relative;
    float: center;
    flex-wrap: wrap;
}


/* ==========================================================================
Quotes
========================================================================== */

.quotes {
    background-color: #3366cc;
    height: 350px;
    margin: 0px;
    color: white;
}

.download h1 {
    margin: 0 0 15px 0;
    padding-top: 40px;
    color: white;
    font-weight: 400;
    font-size: 40px;
}

.download h2 {
    margin: 20px 0 15px 0;
    color: white;
    font-weight: 400;
    font-size: 16px;
}


/*
* Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block
}


/*
* Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
*/

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}


/*
* Prevents modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/

audio:not([controls]) {
    display: none;
    height: 0;
}


/*
* Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3, * and Safari 4.
* Known issue:no IE 6 support.
*/

[hidden] {
    display: none
}


/* ==========================================================================
Base
========================================================================== */


/*
* 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
*    `em` units.
* 2. Prevents iOS text size adjust after orientation change, without disabling
*    user zoom.
*/

html {
    font-size: 100%;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 2 */
}


/*
* Addresses `font-family` inconsistency between `textarea` and other form
* elements.
*/

html,
button,
input,
select,
textarea {
    font-family: 'Josefin Sans', sans-serif;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}


/*
* Addresses margins handled incorrectly in IE 6/7.
*/

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #111111;
}


/*
* Font Smoothing
*/

html,
html a {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
}


/* ==========================================================================
Links
========================================================================== */


/*
* Addresses `outline` inconsistency between Chrome and other browsers.
*/

a:focus {
    outline: thin dotted;
    text-decoration: none;
}


/*
* Improves readability when focused and also mouse hovered in all browsers.
*/

a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}


/* ==========================================================================
Typography
========================================================================== */


/*
* Addresses font sizes and margins set differently in IE 6/7.
* Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5, * and Chrome.
*/

h1 {
    margin: 0.67em 0;
    font-size: 6.5em;
    font-weight: 900;
}

h2 {
    margin: 0.83em 0;
    font-size: 2.8em;
    font-weight: 400;
    color: #395EFF;
}

h3 {
    margin: 1em 0;
    font-size: 2.2em;
    font-weight: 700;
    text-align: center;
}

h4 {
    margin: 1em 0;
    font-size: 2em;
    font-weight: 100;
    text-align: left;
}

h5 {
    margin: 1.67em 0;
    font-size: 2.2em;
    font-weight: 400;
}

h6 {
    margin: 1em 0;
    margin-bottom: 30px;
    font-size: 1.5em;
    color: #3400aa;
}


/*
* Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
*/

abbr[title] {
    border-bottom: 1px dotted
}


/*
* Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
*/

b,
strong {
    font-weight: bold
}

blockquote {
    margin: 0px
}


/*
* Addresses styling not present in Safari 5 and Chrome.
*/

dfn {
    font-style: italic
}


/*
* Addresses styling not present in IE 6/7/8/9.
*/

mark {
    background: #ff0;
    color: #000;
}


/*
* Addresses margins set differently in IE 6/7.
*/

p,
pre {
    margin: 1em 0
}


/*
* Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
*/

code,
kbd,
pre,
samp {
    font-size: 1em;
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
}


/*
* Improves readability of pre-formatted text in all browsers.
*/

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}


/*
* Addresses CSS quotes not supported in IE 6/7.
*/

q {
    quotes: none
}


/*
* Addresses `quotes` property not supported in Safari 4.
*/

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%
}


/*
* Prevents `sub` and `sup` affecting `line-height` in all browsers.
*/

sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}


/* ==========================================================================
Lists
========================================================================== */


/*
* Addresses margins set differently in IE 6/7.
*/

dl,
menu,
ol,
ul {
    margin: 1em 0
}

dd {
    margin: 0 0 0 40px
}


/*
* Addresses paddings set differently in IE 6/7.
*/

menu,
ol,
ul {
    padding: 0
}


/*
* Corrects list images handled incorrectly in IE 7.
*/

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* ==========================================================================
Embedded content
========================================================================== */


/*
* 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
* 2. Improves image quality when scaled in IE 7.
*/

img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */
}


/*
* Corrects overflow displayed oddly in IE 9.
*/

svg:not(:root) {
    overflow: hidden
}


/* ==========================================================================
Figures
========================================================================== */


/*
* Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
*/

figure {
    margin: 0
}


/* ==========================================================================
Forms
========================================================================== */


/*
* Corrects margin displayed oddly in IE 6/7.
*/

form {
    margin: 0
}


/*
* Define consistent border, margin, and padding.
*/

fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border: 1px solid #c0c0c0;
}


/*
* 1. Corrects color not being inherited in IE 6/7/8/9.
* 2. Corrects text not wrapping in Firefox 3.
* 3. Corrects alignment displayed oddly in IE 6/7.
*/

legend {
    padding: 0;
    border: 0;
    /* 1 */
    white-space: normal;
    /* 2 */
    *margin-left: -7px;
    /* 3 */
}


/*
* 1. Corrects font size not being inherited in all browsers.
* 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5, *    and Chrome.
* 3. Improves appearance and consistency in all browsers.
*/

button,
input,
select,
textarea {
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    font-size: 100%;
    /* 1 */
    *vertical-align: middle;
    /* 3 */
}


/*
* Addresses Firefox 3+ setting `line-height` on `input` using ` !important` in
* the UA stylesheet.
*/

button,
input {
    line-height: normal
}


/*
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Corrects inability to style clickable `input` types in iOS.
* 3. Improves usability and consistency of cursor style between image-type
*    `input` and others.
* 4. Removes inner spacing in IE 7 without affecting normal text inputs.
*    Known issue:inner spacing remains in IE 6.
*/

button,
html input[type="button"],

/* 1 */

input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    /* 3 */
    -webkit-appearance: button;
    /* 2 */
    *overflow: visible;
    /* 4 */
}


/*
* Re-set default cursor for disabled elements.
*/

button[disabled],
input[disabled] {
    cursor: default
}


/*
* 1. Addresses box sizing set to content-box in IE 8/9.
* 2. Removes excess padding in IE 8/9.
* 3. Removes excess padding in IE 7.
*    Known issue:excess padding remains in IE 6.
*/

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */
}


/*
* 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
*    (include `-moz` to future-proof).
*/

input[type="search"] {
    /* 2 */
    box-sizing: content-box;
    -webkit-appearance: textfield;
    /* 1 */
    nowhitespace: afterproperty;
}


/*
* Removes inner padding and search cancel button in Safari 5 and Chrome
* on OS X.
*/

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}


/*
* Removes inner padding and border in Firefox 3+.
*/

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}


/*
* 1. Removes default vertical scrollbar in IE 6/7/8/9.
* 2. Improves readability and alignment in all browsers.
*/

textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}


/* ==========================================================================
Tables
========================================================================== */


/*
* Remove most spacing between table cells.
*/

table {
    border-spacing: 0;
    border-collapse: collapse;
}


/* ==========================================================================
Global Styles
========================================================================== */

.group:after {
    content: "";
    display: table;
    clear: both;
}

a {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
}

.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}

p {
    font-size: 16px;
    line-height: 25px;
}

a {
    color: #ffffff
}

a:hover,
a:focus {
    color: #395EFF;
    text-decoration: none;
}

.texture-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}


/* ==========================================================================
Navigation
========================================================================== */

.nav-toggle {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 999999;
    padding: 10px 35px 16px 0px;
    cursor: pointer;
}

.nav-toggle:focus {
    outline: none;
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 1px;
    background: #fff;
    cursor: pointer;
}

.nav-toggle span:before {
    top: -10px
}

.nav-toggle span:after {
    bottom: -10px
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.nav-toggle.active span {
    background-color: transparent
}

.nav-toggle.active span:before,
.nav-toggle.active span:after {
    top: 0
}

.nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.active span:after {
    top: 10px;
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

.navicon {
    position: relative;
    height: 26px;
}

.navicon p {
    margin: 1px 50px 0 0
}

.navicon-fixed {
    position: fixed;
    top: 59px;
    right: 143px;
}


/* ==========================================================================
Nav Overlay
========================================================================== */


/* Overlay style */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 44, 52, 0.65);
}


/* Menu style */

.overlay nav {
    position: relative;
    top: 50%;
    height: 60%;
    text-align: center;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.overlay ul li {
    display: block;
    float: left;
    margin-right: 20px;
}

.overlay ul li:last-child {
    margin-right: 0px
}

.overlay ul li i {
    display: block;
    margin-bottom: 10px;
    font-size: 40px;
}

.overlay ul li a {
    display: block;
    padding: 50px 0;
    min-width: 190px;
    background-color: #2B2C34;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
    border-color: #725DAC;
    color: #725DAC;
}


/* Effects */

.overlay-boxify {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-boxify.open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay-boxify nav ul li {
    opacity: 0;
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.overlay-boxify.open nav ul:first-child li:first-child {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.overlay-boxify.open nav ul:first-child li:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.overlay-boxify.open nav ul:nth-child(2) li:first-child {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.overlay-boxify.open nav ul:nth-child(2) li:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.overlay-boxify.open nav ul li {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* ==========================================================================
Blockquote
========================================================================== */

blockquote {
    margin: 40px 0 0;
    padding: 0;
    border: none;
}

blockquote p {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 70%;
    vertical-align: top;
    font-style: italic;
}

blockquote .avatar {
    display: inline-block;
    margin-right: 20px;
    width: 64px;
    height: 64px;
    vertical-align: middle;
}

blockquote .logo-quote {
    display: inline-block;
    margin: 0 0 0 90px;
}


/* ==========================================================================
Footer
========================================================================== */

.foot {
    background-color: #0f0335;
    height: 300px;
}

.footsy {
    padding: 10px 30px 30px 30px;
}

footer {
    padding: 0px;
}

footer p {
    color: white;
    font-size: 12px;
}

footer ul {
    margin-top: 30px;
}

footer li {
    float: left;
    margin-right: 15%;
    list-style: none;
    font-weight: 400;
}

footer li a {
    color: white;
}

footer li:last-child {
    margin-right: 0
}


/* ==========================================================================
Nav Overlay
========================================================================== */


/* Overlay style */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 44, 52, 0.65);
}


/* Menu style */

.overlay nav {
    position: relative;
    top: 50%;
    height: 60%;
    text-align: center;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.overlay ul li {
    display: block;
    float: left;
    margin-right: 20px;
}

.overlay ul li:last-child {
    margin-right: 0px
}

.overlay ul li i {
    display: block;
    margin-bottom: 10px;
    font-size: 40px;
}

.overlay ul li a {
    display: block;
    padding: 50px 0;
    min-width: 190px;
    border-radius: 80px;
    background-color: #ffffff;
    color: #3400aa;
    font-weight: 400;
    font-size: 15px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #ed1c24;
}


/* Effects */

.overlay-boxify {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-boxify.open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay-boxify nav ul li {
    opacity: 0;
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.overlay-boxify.open nav ul:first-child li:first-child {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.overlay-boxify.open nav ul:first-child li:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.overlay-boxify.open nav ul:nth-child(2) li:first-child {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.overlay-boxify.open nav ul:nth-child(2) li:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.overlay-boxify.open nav ul li {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* ==========================================================================
Waypoints
========================================================================== */

.wp1,
.wp2,
.wp3,
.wp4,
.wp5,
.wp6 {
    visibility: hidden
}

.bounceInLeft,
.bounceInRight,
.fadeInUp,
.fadeInUpDelay,
.fadeInDown,
.fadeInUpD,
.fadeInLeft,
.fadeInRight,
.bounceInDown {
    visibility: visible
}

.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}