


<!-- - - - - - - - - EXPLAIN 01 - - - - - - - - - -->

			<section>
				<div class="container contents" style="padding:0px;margin:0px;">
          			<div class="explain">
          			<svg height="3" width="160"><line x1="0" y1="0" x2="160" y2="0" style="stroke:#395EFF;stroke-width:8" /></svg>
  					<h5>We selecteerden de beste kwaliteit van sokken voor jou.</h5>
  					<svg height="3" width="160"><line x1="0" y1="0" x2="160" y2="0" style="stroke:#395EFF;stroke-width:8" /></svg>
					</div>
				</div>
			</section>





<!-- - - - - - - - - OUR OFFER- - - - - - - - - -->

			<section>
				<div class="container contents" style="padding:0px;margin:0px;">
          			<div class="offer">
						<div class="row hero-content">
							<div class="col-xs-1 col-sm-4 col-md-3 col-lg-1">
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 offertext">
							<img src="{{ 'icon-01.png' | asset_url }}"  style="width: 130px;padding: 20px; margin-top:30px;">
							<h3>Geen mystery </br> sokken meer.</h3>
							<h4>Het matchen van je sokken na een wasbeurt kan soms een lastig karwei zijn, en dat weten we maar al te goed. Koop steeds bij SockSupply en weg ermee.</h4>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 offertext">
							<img src="{{ 'icon-02.png' | asset_url }}"  style="width: 130px;padding: 20px; margin-top:30px;">
							<h3>Beste kwaliteit, </br> laagste prijs.</h3>
							<h4>"Kwaliteit komt met een prijskaartje". Maar vaak blijkt het dat onze sokken al na enkele maanden van zich laten weten. Niet met SockSupply, want dat is juist waar we voor staan.</h4>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 offertext">
							<img src="{{ 'icon-03.png' | asset_url }}"  style="width: 130px;padding: 20px; margin-top:30px;">
							<h3>Gratis levering</br>  aan huis.</h3>
							<h4>Je koopt wat sokken hier, je koopt wat sokken daar. SockSupply levert aan huis vanuit ons magazijn in China, eender waar!</h4>
							</div>

							<div class="col-xs-1 col-sm-4 col-md-3 col-lg-1">
							</div>
						</div>
					</div>
				</div>
			</section>


<!-- - - - - - - - - EXPLAIN 02 - - - - - - - - - -->

			<section>
				<div class="container contents" style="padding:0px;margin:0px;">
          			<div class="explain">
          			<svg height="3" width="160"><line x1="0" y1="0" x2="160" y2="0" style="stroke:#395EFF;stroke-width:8" /></svg>
  					<h5>20 sokken voor 20 euro. Aan huis geleverd.</h5>
  					<svg height="3" width="160"><line x1="0" y1="0" x2="160" y2="0" style="stroke:#395EFF;stroke-width:8" /></svg>
					</div>
				</div>
			</section>




<!-- - - - - - - - - CUSTOMERS - - - - - - - - - -->

			<section class="contents koop lefted">
				<div class="container " style="padding:0px;margin:0px;">
					<div class="row">
						<div class="col-sm-2 col-md-2 col-lg-2">
						</div>
						<div class="col-sm-8 col-md-8 col-lg-8">
							<h2 style="color: #cccccc;text-align: left;">Verdere details over uw aankoop:</h2>
						</div>
						<div class="col-sm-2 col-md-2 col-lg-2">
						</div>
					</div>

					<!-- Corporates  -->

					<div class="row">
						<div class="col-sm-2 col-md-2 col-lg-2">
						</div>
						<div class="col-sm-2 col-md-2 col-lg-2">
  							<img src="{{ 'icon-04.png' | asset_url }}"  style="width: 130px;padding: 20px; margin-top:30px;">
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6">
  							<h3>80% Bamboo en 20% Elastomeer.</h3>
							<h4>Als we kunnen helpen we de natuur graag een handje. Elastomeer zorgt ervoor dat je sokken na 2 jaar nog steeds lekker zitten. </h4>
						</div>
  						<div class="col-sm-2 col-md-2 col-lg-2">
						</div>
  					</div>

  					<!-- Startups  -->

					<div class="row">
						<div class="col-sm-2 col-md-2 col-lg-2">
						</div>
						<div class="col-sm-2 col-md-2 col-lg-2">
  							<img src="{{ 'icon-05.png' | asset_url }}"  style="width: 130px;padding: 20px;margin-top:30px;">
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6">
  							<h3>Unisex en Unitalle.</h3>
							<h4>Wist je dat veel koppels zelfs sokken delen met elkaar? De klassieke sok wint het nog steeds, en we hebben hem in jouw maat.</h4>
						</div>
  						<div class="col-sm-2 col-md-2 col-lg-2">
						</div>
  					</div>

					<!-- Experts -->

					<div class="row">
						<div class="col-sm-2 col-md-2 col-lg-2">
						</div>
						<div class="col-sm-2 col-md-2 col-lg-2">
  							<img src="{{ 'icon-06.png' | asset_url }}"  style="width: 130px;padding: 20px;margin-top:30px;">
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6">
  							<h3>20 sokken in een doos.</h3>
							<h4>Weg met al die verschillende sokken. Meteen 10 paar, en je bent weer verder voor een jaar.</h4>
						</div>
  						<div class="col-sm-2 col-md-2 col-lg-2">
						</div>
  					</div>
				</div>
			</section>



<!-- - - - - - - - - TEAM - - - - - - - - - -->

			<section class="contents koop">
				<div class="container " style="padding:0px;margin:0px;">
					<div class="row">
						<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						</div>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<h2 style="color: #cccccc;"></h2>
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						</div>
					</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          					<div class="purpleblock purpleblocktext">
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
          					<div class="block">
          						<div>
  									<h3></br>Maat 36-41</h3>
  									<h4>Unisex, Unitalle. 20 Zwarte sokken met 2 jaar levensduur.</h4>
  									<button type="button" class="btn btn-default buyclick" style="margin-right:30px;margin-top:30px;">
  								<a href="https://sokken.myshopify.com/24950284/checkouts/b355e333fe65f213401e4d62d36f2d5c" target="_blank" style="color:#395EFF;">Klik Hier</a></button>
  								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
          					<div class="block">
  								<h3></br>Maat 42-46</h3>
  								<h4>Unisex, Unitalle. 20 Zwarte sokken met 2 jaar levensduur.</h4>
  								<button type="button" class="btn btn-default buyclick" style="margin-right:30px;margin-top:30px;">
  								<a href="https://sokken.myshopify.com/24950284/checkouts/b355e333fe65f213401e4d62d36f2d5c" target="_blank" style="color:#395EFF;">Klik Hier</a></button>
							</div>
						</div>

					</div>
				</div>
				<div class="row">
				<h3></br></h3>
				</div>
			</section>





<!-- - - - - - - - - EXPLAIN 03 - - - - - - - - - -->

			<section>
				<div class="container contents" style="padding:0px;margin:0px;">
          			<div class="explain">
          			<svg height="3" width="160"><line x1="0" y1="0" x2="160" y2="0" style="stroke:#395EFF;stroke-width:8" /></svg>
  					<h5><b>SockSupply.</b></br> Want een sok draag je nooit alleen.</h5>
  					<svg height="3" width="160"><line x1="0" y1="0" x2="160" y2="0" style="stroke:#395EFF;stroke-width:8" /></svg>
					</div>
				</div>
			</section>
